 * {
     padding: 0px;
     margin: 0px;
 }
 
 #main {
     background-color: #71c9ce;
     display: flex;
     flex-direction: column;
 }
 
 #title {
     margin: 10px auto;
     color: #e3fdfd;
     text-align: center;
 }
 
 #img-div {
     margin: 50px;
     background-color: #a6e3e9;
     height: auto;
     justify-self: center;
 }
 
 #image {
     margin: 25px auto;
     max-width: 100%;
     display: block;
     height: auto;
 }
 
 #tribute-info {
     color: #e3fdfd;
 }
 
 #info {
     margin: 0px 10%;
 }